<div class="section">
  <div class="container">
    <div class="content-section">
      <div class="title">
        <h1>About Us</h1>
      </div>
      <div class="content">
        <h3>CAREFUL TO TRADITION</h3>
        <p>
          Il Gambero Rosso is the perfect place for a quick lunch break, an
          aperitif with friends or for a dinner. Our kitchen is characterized by
          typical Venetian dishes: risotto, cod, tripe, rabbit, grilled meats.
          We love to offer simple but absolutely genuine dishes, for this reason
          we are selling seasonal products that come from our own, all followed
          by an excellent selection of regional wines …. We are sure you will
          not be disappointed..
        </p>
        <div class="button">
          <a class="buybtn" href="">Home page</a>
        </div>
      </div>
    </div>
    <div class="image-section">
      <img src="../../../assets/img/about.png" />
    </div>
  </div>
</div>
